.filled svg {
    fill: var(--primary);
}

.star svg {
    margin-right: 5px;
}

.star svg:focus {
    outline: none;
}

.star svg:focus-visible {
    outline: 2px solid var(--primary);
}

.editable {
    cursor: pointer;
}